body {
    margin: 0;
    height: 100vh;

    text-decoration: none;
    color:rgb(170, 118, 5);

    display: grid;
    background-color: rgb(218, 194, 143);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 25px;
}

.welcome {
    background-color: rgb(214, 188, 132);
    height: 48vh;
}

nav {
    background-color: rgb(216, 186, 121);
}

.one {
    background-color: rgb(211, 173, 92);
}

.two {
    background-color: rgb(211, 165, 67);
}

.three {
    background-color: rgb(209, 159, 52);
    height: 50vh;
}

.four {
    background-color: rgb(204, 149, 31);
}

.five {
    background-color: rgb(204, 143, 11);
}

.six {
    background-color: rgb(198, 135, 0);
}

a {
    color: aqua;
}

