body {
    margin: 0;
    height: 100vh;

    display: grid;
    background-color: rgb(83, 32, 0);
    color: red;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.a {
    background-color: rgb(83, 32, 0)
}

.b {
    background-color: rgb(107, 41, 1)
}

.c {
    background-color: rgb(121, 46, 0)
}

.d {
    background-color: rgb(131, 50, 0)
}

.e {
    background-color: rgb(145, 56, 1)
}

.f {
    background-color: rgb(163, 63, 1)
}

.g {
    background-color: rgb(182, 70, 0)
}

.h {
    background-color: rgb(202, 79, 2)
}

.i {
    background-color: rgb(78, 43, 21);
    height: 25vh
}

.j {
    background-color: rgb(102, 51, 20);
}

.k {
    background-color:  rgb(119, 57, 18);
}

.l {
    background-color: rgb(129, 63, 22);
}

.m {
    background-color: rgb(145, 71, 25);
}

.n {
    background-color: rgb(160, 77, 25);
}

.o {
    background-color:  rgb(184, 87, 28);
}

.p {
    background-color: rgb(204, 99, 34);
}

.q {
    background-color: rgb(77, 51, 35);
}

.r {
    background-color: rgb(97, 62, 40);
}

.s {
    background-color: rgb(117, 73, 45);
}

.t {
    background-color: rgb(128, 80, 51);
}

.u {
    background-color: rgb(141, 88, 56);
}

.v {
    background-color: rgb(155, 94, 57);
}

.w {
    background-color: rgb(182, 113, 69);
}

.x {
    background-color: rgb(204, 123, 72);
}

.y {
    background-color: rgb(77, 63, 54);
}

.z {
    background-color: rgb(95, 75, 63);
}


.aa {
    background-color: rgb(110, 84, 67);
}

.bb {
    background-color: rgb(126, 97, 80);
}

.cc {
    background-color: rgb(141, 108, 88);
}

.dd {
    background-color: rgb(150, 114, 92);
}

.ee {
    background-color: rgb(177, 131, 103);
}

.ff {
    background-color: rgb(199, 149, 118);
}

a {
    color: rgb(199, 149, 118);
}